@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
body {
  font-family: sans-serif;
  background-color: deepskyblue;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Luckiest Guy";
  font-size: 130px;
  text-align: center;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}
h1 span {
  display: inline-block;
}
h1 .first {
  color: #F21C97;
  -webkit-animation: bop 1s infinite alternate;
          animation: bop 1s infinite alternate;
}
h1 .last {
  -webkit-animation: boppity 1s infinite alternate;
          animation: boppity 1s infinite alternate;
}

@-webkit-keyframes bop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes bop {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes boppity {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1) rotateZ(-3deg);
  }
}
@keyframes boppity {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1) rotateZ(-3deg);
  }
}
@-webkit-keyframes move-left {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(-300%);
  }
}
@keyframes move-left {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(-300%);
  }
}
.bio {
  margin: 0 auto 0 auto;
  max-width: 70vw;
}

.sky {
  margin-bottom: 100px;
}

.sky img {
  -webkit-animation: move-left 60s infinite alternate;
          animation: move-left 60s infinite alternate;
  position: absolute;
}

.cloud-big {
  top: 118px;
  left: 280px;
  transform: translateX(100%);
}

.cloud-medium {
  top: 89px;
  left: 50px;
}

.cloud-small {
  top: 74px;
  left: 195px;
}

.sun {
  width: 70px;
  height: 70px;
  background: gold;
  border-radius: 50%;
}
