html,
body {
  background-color: green;
  height: 100%;
}

.menu{
  color: white;
  padding: 50px;
  text-decoration: none;
  display: none;
}

.menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


/* Add a grey background color on mouse-over */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

.icon{
  padding: 10px;
  font-size: 300%;
  color: grey;
  display: box;
}